<div class = "wrapper">
  <h1 id= "contact_title"><%= t(".contact_title")%></h1>
  <div class = "wrapper_2_contact"  >
    <%= render 'form', contact: @contact %>
    <!--  <%= link_to 'Back', contacts_path %> -->
  </div>
</div>
