@media screen and (min-width: 769px) {
  body {
    position: relative; /*←相対位置*/
  }
  p {
    font-size: 130px;
    color: red;
  }
  .wrapper {
    color: #696969;
    margin-top: 0;
    min-height: 100vh;
    width: 100%;
    position: relative; /*←相対位置*/
    padding-bottom: 120px; /*←footerの高さ*/
    box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
    background-color: #ffffff;
  }
  .wrapper_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(room/hotel_lobby_2.jpg);
    // background-image: url(room/mitui_lobby.jpg);
  }

  //sessions/new //
  .session_select_item {
    margin-top: 100px;
    margin-left: 3%;
  }

  .inner_new_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 0;
  }
  #greeting {
    padding-left: 200px;
  }

  .contact_field {
    padding: 20px 20px;
  }

  #contact_title {
    position: absolute;
    top: 20px;
  }
  #new_title {
    color: #e0ffff;
    background-color: #ff8c00;
    border-radius: 50px;
    opacity: 80%;
    text-align: center;
    line-height: 60px;
    height: 60px;

    font-weight: bold;
    font-size: 25px;
  }
  .new_wrapper {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new_wrapper_2 {
    width: 500px;
    height: 500px;

    border-radius: 30px;
    padding-left: 20%;
    padding-top: 20%;
    position: relative;
  }
  #user_room_number,
  #user_name,
  #user_password {
    width: 80%;
    height: 30px;
    border-radius: 10px;
  }
  .new_label {
  }
  #new_button {
    width: 200px;
    height: 50px;
    background-color: #afafed;
    opacity: 80%;
    color: #fff;
    margin: 35px 0;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 40px;
  }
  #new_button:hover {
    background-color: orange;
    color: white;
    border-radius: 50px;
    font-size: 20px;
  }
  // navbar
  .navbar {
    width: 100%;
    background-color: #afeeee;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  #nav_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: content;
    list-style: none;
    .nav_menu {
      color: white;
    }
  }

  #nav_box li {
    width: auto;
    margin-right: -30px;
  }
  .nav_menu {
    width: auto;
    height: 40px;
    padding: 10px 10px;
    margin-right: 0;
    text-align: center;
    line-height: 45px;
    background-color: #afafed;
    font-size: 15px;
  }
  .navbar a {
    text-decoration: none;
    background-color: #afafed;

    margin-right: 3px;
    border-radius: 10px;
  }
  .navbar a:hover {
    background-color: orange;
  }
  .nav_menu:first-of-type {
    margin-right: 50px;
  }

  ul > li {
    font-size: 20px;
    margin-top: 20px;
  }
  #amenity_list {
    font-size: 30px;
    color: orange;
    margin-right: 20px;
    line-height: 40px;
    background-color: white;
    padding: 10px 20px;
    border: double 4px orange;
    border-radius: 20px;
  }

  #in_bath {
    background-color: #f8f8ff;
    padding-top: 100px;
  }
  #at_counter {
    background-color: #f8f8ff;
    margin-bottom: 100px;
  }

  // 言語box
  #selectedLocale {
    height: 30px;
    width: 140px;
  }

  #select_box {
    margin-top: 170px;
    // width: 300px;

    border-radius: 10px;
    // background-color: #f0f8ff;
    background-color: white;
    margin-left: 2%;
  }

  #lan_select {
    color: tomato;
    font-size: 15px;
  }
  .polish_box {
    width: auto;
    font-size: 20px;
    background-color: red;
    color: yellow;
    padding: 10px 0;
    margin-top: 10px;
  }
  #polish_list {
    list-style-type: square;
    font-weight: bold;
  }

  .picture_set {
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;

    background-color: #f5f5f5;

    justify-content: center;
    align-items: center;
  }

  .product_title {
    margin-bottom: 10px;
    font-size: px;
    color: tomato;
  }

  #available {
    font-size: 20px;
    margin-top: 10px;
  }
  #quantity {
    font-size: 20px;
    margin: 10px 0;
  }
  #quantity_field {
    width: 100px;
    height: 40px;
    font-size: 20px;
  }
  .img_frame {
    width: 25%;
    width: 600px;
    height: auto;
    // background-color: greenyellow;
  }
  .p_img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    object-fit: cover;
    margin: auto;
    line-height: 150px;
    background-color: white;
  }
  .img {
    padding-top: 20%;
    height: 65%;
    width: 65%;
    object-fit: cover;
  }
  #in_room {
  }

  #in_room,
  #in_bath,
  #at_counter {
    text-align: center;
    background-color: white;
  }
  .button {
    text-align: center;
  }

  #order_button {
    width: 200px;
    height: 50px;
    background-color: #afafed;
    margin-right: auto;
    margin-left: auto;
    margin: 20px 0;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    color: white;
  }

  #order_button:hover {
    background-color: orange;
    color: white;
    border-radius: 50px;
    font-size: 20px;
  }
  .product_category {
    margin: 0;
    font-size: 30px;
    background-color: #f0f8ff;
    line-height: 85px;
  }

  .footer {
    width: 100%;

    background-color: #afeeee;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;

    position: absolute; /*←絶対位置*/
    bottom: 0; /*下に固定*/
  }
  .footer p {
    font-size: 20px;
  }
} //max-width: 1024px)
