body {
  position: relative; /*←相対位置*/
}

.wrapper {
  color: #696969;
  padding: 50px;
  min-height: 100vh;
  position: relative; /*←相対位置*/
  padding-bottom: 120px; /*←footerの高さ*/
  box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
  background-color: #ffffff;
}
// navbar
.navbar {
  height: 60px;
  width: 100%;
  background-color: #afeeee;
  padding: 20px 0;
}
#nav_box {
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  .nav_menu {
    color: white;
  }
}
.nav_menu {
  width: auto;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  line-height: 45px;
  background-color: #afafed;
  margin-top: 10px;
  font-size: 15px;
}
.navbar a {
  text-decoration: none;
  background-color: #afafed;

  margin-right: 3px;
  border-radius: 10px;
}
.navbar a:hover {
  background-color: orange;
}
.nav_menu:first-of-type {
  margin-right: 50px;
}
#in_room {
  grid: flex;
  background-color: #f8f8ff;
}
#in_bath {
  background-color: #f8f8ff;
}
#at_counter {
  background-color: #f8f8ff;
}

// 言語box
#selectedLocale {
  height: 30px;
  width: 140px;
}

#select_box {
  padding: 20px;
  // width: 300px;
  border-radius: 10px;
  background-color: #f0f8ff;
  padding-left: 70px;
}
h1 {
  margin-top: 50px;
}
#lan_select {
  color: tomato;
  font-size: 20px;
}

.picture_set {
  padding: 20px 0;
  display: flex;

  background-color: #f5f5f5;

  justify-content: center;
  align-items: center;
}

.product_title {
  margin-bottom: 10px;
  font-size: 20px;
  color: tomato;
}

#available {
  font-size: 20px;
  margin-top: 10px;
}
#quantity {
  font-size: 20px;
  margin: 10px 0;
}
#quantity_field {
  width: 100px;
  height: 40px;
  font-size: 20px;
}
.img_frame {
  width: 600px;
  height: auto;
  // background-color: greenyellow;
  text-align: center;
}
.p_img {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  object-fit: cover;
  margin: auto;
  line-height: 150px;
  background-color: white;
}
.img {
  padding-top: 20%;
  height: 65%;
  width: 65%;
  object-fit: cover;
}

#in_room,
#in_bath,
#at_counter {
  text-align: center;
  background-color: white;
}
.button {
  text-align: center;
}

#order_button {
  width: 200px;
  height: 50px;
  background-color: #afafed;
  margin-right: auto;
  margin-left: auto;
  margin: 20px 0;
  border-radius: 50px;
  border: none;
  font-size: 20px;
}

#order_button:hover {
  background-color: orange;
  color: white;
  border-radius: 50px;
  font-size: 20px;
}
.product_category {
  font-size: 30px;
  padding-top: 10px;
  background-color: #f0f8ff;
  line-height: 85px;
}

.contact_form {
  margin-top: 100px;
  background-color: cornflowerblue;
  width: 800px;
  height: 500px;
}

.footer {
  width: 100%;

  background-color: #afeeee;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;

  position: absolute; /*←絶対位置*/
  bottom: 0; /*下に固定*/
}
.footer p {
  font-size: 20px;
}
