<% @user_list.each do |user| %>
  <p>QRコードで自動パスワード入力できます。</P>
  <p>You can login with this QR code.</P>
  <p><%= image_tag user[:qr] %></p>
  <p>QRコードが使えない方はURLに接続してパスワードを入力してください。</p>
  <p>If you can not use the QR code , <br>
    please connect to the Hotel's URL and enter your password.</p>
  <p>【URL】<%= user[:url] %></p>
  <p>【PASSWORD】<%= user[:password] %></p>
  <p>【有効期限, VALID】<%= (Time.current + 1.month - 1.day).strftime('%Y/%m/%d') %></p>
<% end %>
<style>
  p { font-size: 25px; }
</style>
